[submodule "Mineconomy-Core"]
	path = Mineconomy-Core
	url = https://github.com/Nekonic/Mineconomy-Core
	branch = main
[submodule "Dynamic_Graph"]
	path = Dynamic_Graph
	url = https://github.com/Nekonic/Dynamic_Graph
	branch = main
[submodule "Mineconomy-Resource-Pack"]
	path = Mineconomy-Resource-Pack
	url = https://github.com/Nekonic/Mineconomy-Resource-Pack
	branch = main
